* {
  scroll-behavior: smooth;
}

html {
  height: 100%;
  position: relative;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr max-content;
      grid-template-rows: 1fr -webkit-max-content;
      grid-template-rows: 1fr max-content;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  font-family: "Montserrat", sans-serif;
  background: #191b2f;
  background-position: center 100%;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100%;
  color: white;
}

textarea,
input {
  color: #fff !important;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 991px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 991px) {
  .header__logo {
    width: 200px;
  }
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .nav {
    gap: 20px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .nav__list {
    gap: 25px;
  }
}

@media (max-width: 991px) {
  .nav__list {
    gap: 15px;
  }
}

.nav a {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.intro {
  overflow: hidden;
}

.intro__inner {
  position: relative;
  padding-top: 194px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

@media (max-width: 768px) {
  .intro__inner {
    padding-top: 0;
    margin-top: 140px;
  }
}

.intro__col {
  width: 100%;
  max-width: 682px;
}

@media (max-width: 768px) {
  .intro__col {
    width: 72%;
  }
}

@media (max-width: 576px) {
  .intro__col {
    width: 85%;
  }
}

.intro__window {
  position: absolute;
  top: 90px;
  right: -265px;
}

@media (max-width: 1200px) {
  .intro__window {
    display: none;
  }
}

.intro__girl {
  margin-top: -20px;
}

@media (max-width: 1200px) {
  .intro__girl {
    max-width: 300px;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .intro__girl {
    max-width: 235px;
  }
}

@media (max-width: 768px) {
  .intro__girl {
    position: absolute;
    top: 50%;
    right: -60px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (max-width: 576px) {
  .intro__girl {
    right: -25%;
  }
}

.intro h1 {
  max-width: 682px;
}

.intro__textarea {
  padding: 15px 20px;
  margin-bottom: 35px;
  width: 100%;
  max-width: 635px;
  height: 147px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid #3f3f3f;
  background: #191b2f;
  resize: none;
  position: relative;
  z-index: 2;
}

.title {
  margin-bottom: 38px;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title--centred {
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 1200px) {
  .title {
    font-size: 42px;
  }
}

@media (max-width: 991px) {
  .title {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .title {
    text-align: center;
    font-size: 28px;
  }
}

h1.title {
  letter-spacing: 2.5px;
}

.button {
  display: block;
  max-width: 255px;
  width: 100%;
  height: 60px;
  -webkit-border-radius: 90px;
          border-radius: 90px;
  border: none;
  background: -webkit-linear-gradient(61deg, #325bc1 0%, #4f76f6 100%);
  background: -o-linear-gradient(61deg, #325bc1 0%, #4f76f6 100%);
  background: linear-gradient(29deg, #325bc1 0%, #4f76f6 100%);
  -webkit-box-shadow: 0px 4px 30px 0px rgba(79, 118, 246, 0.3);
          box-shadow: 0px 4px 30px 0px rgba(79, 118, 246, 0.3);
  cursor: pointer;
  color: white;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.26px;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.button:hover {
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .button {
    max-width: 225px;
    height: 55px;
    font-size: 16px;
  }
}

.how {
  margin-top: 105px;
}

.how__list-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[3];
      grid-template-columns: repeat(3, 350px);
  gap: 32px;
}

@media (max-width: 1200px) {
  .how__list {
    -ms-grid-columns: (280px)[3];
        grid-template-columns: repeat(3, 280px);
  }
}

@media (max-width: 991px) {
  .how__list {
    -ms-grid-columns: (220px)[3];
        grid-template-columns: repeat(3, 220px);
  }
}

@media (max-width: 768px) {
  .how__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.how__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
}

.how h3 {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 1px;
}

@media (max-width: 1200px) {
  .how h3 {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .how h3 {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .how img {
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
  }
}

.featured {
  margin-top: 261px;
}

.featured .swiper-div {
  position: relative;
}

.featured li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #d9d9d9;
  -webkit-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.featured .swiper-pagination-bullet-active {
  width: 35px;
  height: 10px;
  -webkit-border-radius: 90px;
          border-radius: 90px;
  background: #4f76f6;
}

.featured .swiper-pagination {
  bottom: -69px !important;
}

.featured__row {
  margin-top: 100px;
  margin-bottom: 90px;
  width: 100%;
}

.featured__girl {
  margin: 0 auto;
}

.faq .title {
  margin-bottom: 38px;
}

.faq__list {
  position: relative;
}

.faq__list::before, .faq__list::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(6, 58, 192, 0)), color-stop(47.41%, #063ac0), to(rgba(6, 58, 192, 0)));
  background: -webkit-linear-gradient(left, rgba(6, 58, 192, 0) 0%, #063ac0 47.41%, rgba(6, 58, 192, 0) 100%);
  background: -o-linear-gradient(left, rgba(6, 58, 192, 0) 0%, #063ac0 47.41%, rgba(6, 58, 192, 0) 100%);
  background: linear-gradient(90deg, rgba(6, 58, 192, 0) 0%, #063ac0 47.41%, rgba(6, 58, 192, 0) 100%);
}

.faq__list::before {
  top: 0;
  left: 0;
}

.faq__list::after {
  bottom: 0;
  left: 0;
}

.faq__item {
  position: relative;
}

.faq__item:first-child::before {
  content: "";
}

.faq__item::before, .faq__item::after {
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(6, 58, 192, 0)), color-stop(47.41%, #063ac0), to(rgba(6, 58, 192, 0)));
  background: -webkit-linear-gradient(left, rgba(6, 58, 192, 0) 0%, #063ac0 47.41%, rgba(6, 58, 192, 0) 100%);
  background: -o-linear-gradient(left, rgba(6, 58, 192, 0) 0%, #063ac0 47.41%, rgba(6, 58, 192, 0) 100%);
  background: linear-gradient(90deg, rgba(6, 58, 192, 0) 0%, #063ac0 47.41%, rgba(6, 58, 192, 0) 100%);
}

.faq__item::before {
  top: 0;
  left: 0;
}

.faq__item::after {
  content: "";
  bottom: 0;
  left: 0;
}

.faq__item .faq__content {
  overflow: hidden;
  max-height: 0;
}

.faq__item--active .faq__header h3 {
  color: #fff;
}

.faq__item--active .faq__header button {
  border: 1px solid #4f76f6;
  -webkit-box-shadow: 0px 0px 0px 0px #4f76f6;
          box-shadow: 0px 0px 0px 0px #4f76f6;
}

.faq__item--active .faq__header svg {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.faq__item--active .faq__header path {
  fill: #fff;
}

.faq__item--active .faq__content {
  max-height: 200px;
  overflow: auto;
}

.faq__article {
  padding: 21px 0;
}

@media (max-width: 1200px) {
  .faq__article {
    padding: 18px 0;
  }
}

.faq__header {
  margin-bottom: 9px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .faq__header {
    margin-bottom: 5px;
  }
}

.faq__header h3 {
  color: #4f76f6;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

@media (max-width: 1200px) {
  .faq__header h3 {
    font-size: 18px;
  }
}

.faq__header button {
  display: block;
  width: 42px;
  height: 42px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #191b2f;
  -webkit-box-shadow: 0px 0px 10px 0px #4f76f6;
          box-shadow: 0px 0px 10px 0px #4f76f6;
  border: none;
  cursor: pointer;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

@media (max-width: 1200px) {
  .faq__header button {
    width: 36px;
    height: 36px;
  }
}

.faq__header button svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.faq__header button path {
  fill: #4f76f6;
  -webkit-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}

.faq__content {
  width: -webkit-calc(100% - 95px);
  width: calc(100% - 95px);
  color: #cacad4;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  /* 147.059% */
}

.join {
  margin-top: 80px;
}

.join .title {
  margin-bottom: 50px;
}

.join__list-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.join__list a {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(79, 118, 246, 0.5));
          filter: drop-shadow(0px 0px 8px rgba(79, 118, 246, 0.5));
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.join__list a:hover {
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .join img {
    width: 60px;
    height: 60px;
  }
}

.footer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background: url("./../src/footer.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.get {
  margin-top: 219px;
}

.get .title {
  margin-bottom: 40px;
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.42;
}

@media (max-width: 1200px) {
  .get .title {
    max-width: 650px;
  }
}

.form__row {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media (max-width: 768px) {
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form input {
  padding: 20px;
  width: 100%;
  max-width: 349px;
  height: 60px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-border-radius: 190px;
          border-radius: 190px;
  border: 1px solid #3f3f3f;
  background-color: transparent;
  color: #ababab;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media (max-width: 991px) {
  .form input {
    padding: 14px;
    height: 48px;
    max-width: 300px;
  }
}

.form .button {
  margin-bottom: 55px;
}

@media (max-width: 768px) {
  .form .button {
    margin: 0 auto;
  }
}

.footer-nav {
  padding: 37px 0;
  margin-bottom: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 991px) {
  .footer-nav .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .footer-nav .nav {
    gap: 25px;
  }
  .footer-nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

.subscribe {
  margin-top: 120px;
}

.subscribe p {
  margin-bottom: 44px;
  color: #cacad4;
  text-align: center;
  font-family: inherit;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe input {
  max-width: 445px;
}

@media (max-width: 991px) {
  .subscribe input {
    max-width: 300px;
  }
}

.subscribe .button {
  margin: 0 auto;
}

.subscribe .form__row {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.decoded {
  margin-top: 131px;
}

.decoded__article-wrapper {
  margin-bottom: 50px;
  padding: 23px 30px 30px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background: #1e2034;
}

.decoded__content {
  margin-bottom: 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.decoded__content p {
  margin-bottom: 15px;
  color: #cacad4;
  font-family: inherit;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.decoded__button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.decoded__copy-button {
  background: transparent;
  border: none;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.decoded__copy-button:hover {
  opacity: 0.8;
}

.decoded__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .decoded__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

.decoded__send {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.decoded__send strong {
  margin-right: 14px;
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.26px;
}

.decoded__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.decoded__list a {
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.decoded__list a:hover {
  opacity: 0.8;
}

.body--lock {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  background-color: #191b2f;
  border-bottom: 1px solid red;
}

.header__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  width: 100%;
}

.header__logo {
  position: relative;
  z-index: 3000;
}

.menu__icon {
  display: none;
  background-color: transparent;
  border: 0;
}

@media (max-width: 768px) {
  .menu__icon {
    position: relative;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 2500;
  }
  .menu__icon .menu__icon-span, .menu__icon::before, .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon .menu__icon-span {
    top: 50%;
    -webkit-transform: scale(1) translateY(-50%);
        -ms-transform: scale(1) translateY(-50%);
            transform: scale(1) translateY(-50%);
  }
}

@media (max-width: 768px) {
  .menu__icon--active .menu__icon-span {
    -webkit-transform: scale(0) translate(0, -50%);
        -ms-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }
  .menu__icon--active::before {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  .menu__icon--active::after {
    bottom: 50%;
    -webkit-transform: translateY(50%) rotate(45deg);
        -ms-transform: translateY(50%) rotate(45deg);
            transform: translateY(50%) rotate(45deg);
  }
}

@media (max-width: 768px) {
  .menu__body {
    padding: 100px 30px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    overflow: auto;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: blueviolet;
    z-index: 2200;
    opacity: 0.5;
  }
}

.menu__body--active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 769px) {
  .menu__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__list a {
    font-size: 30px;
  }
}

.menu__list a:hover {
  text-decoration: underline;
}

.menu__item {
  position: relative;
  font-size: 18px;
  color: white;
}

@media (max-width: 768px) {
  .menu__item {
    margin-bottom: 30px;
    margin-right: 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .menu__link {
    font-size: 24px;
  }
}

.popup-wrapper {
  padding: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background: #14162d;
  z-index: 3000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease, opacity 0.4s ease;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transition: transform 0.4s ease, opacity 0.4s ease, -webkit-transform 0.4s ease;
}

.popup-wrapper--active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 0.9;
}

.popup {
  position: relative;
  padding: 50px 35px;
  max-width: 664px;
  width: 100%;
  max-height: 664px;
  height: 100%;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  background: #303353;
  border: 10px solid #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .popup {
    max-width: 530px;
    max-height: 550px;
    padding: 40px 25px;
    border-width: 5px;
    -webkit-border-radius: 60px;
            border-radius: 60px;
  }
}

@media (max-width: 576px) {
  .popup {
    -webkit-border-radius: 50px;
            border-radius: 50px;
    padding: 25px 20px;
  }
}

@media (max-width: 359px) {
  .popup {
    padding: 20px;
  }
}

.popup__inner {
  margin: 0 auto;
  max-width: 445px;
  width: 100%;
}

.popup__close {
  display: block;
  position: absolute;
  top: -50px;
  right: -90px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.popup__close:hover {
  opacity: 0.8;
}

@media (max-width: 991px) {
  .popup__close {
    right: -5px;
    width: 38px;
    height: 38px;
  }
}

.popup .title {
  margin-bottom: 17px;
  text-align: center;
}

.popup .form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.popup .form input {
  max-width: unset;
  width: 100%;
  -webkit-border-radius: 190px;
          border-radius: 190px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #3e4269;
}

.popup textarea {
  width: 100%;
  padding: 20px;
  height: 140px;
  background: #3e4269;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: auto;
  resize: none;
  color: #ababab;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.popup .button {
  margin-top: 10px;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .popup .button {
    margin-top: 0;
  }
}
